<!--2-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
<body>
    <div>
        <h1>제목</h1>
        <h1 class='food'>점심</h1>
        <p class='food'>도시락</p>
        <button>색변경</button>
        <button id='blackBtn'>글자색검은색으로색변경</button>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>            
            <ol>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ol>
            </li>
        </ul>        
        <!-- button 이 여러 개면 같은 기능을 하기 때문에 button id 가 필요함--> 
        <input type='text' name='uid'>
        <input type='password' name='upw'>

        <table border="1" id='data'>
            <thead>
                <tr>
                    <th>컬럼1</th>
                    <th>컬럼2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
                    <td>a</td>
                    <td>b</td>
                </tr>
                    <td>a</td>
                    <td>b</td>
            </tbody>
        </table>
    </div>
    <!-- 화면 보이는 부분 끝-->
    <script>
        // class가 food인 요소의 글자색을 yellow로 
        // 이 문서상에 존재하는 모든 h1 중에 class가 food인 요소 
        $('h1.food').css('color','yellow') //class인 건 점 찍고     
        // li 중에 1,2,3 번만 글자색 빨강
        // 특정이 안되면 부모,자식 등 관계를 따진다
        $('ul>li').css('color','red')  
        // 후손(직계 자식도 포함된다)
        $('ul>li').css('color','blue')
        // 열거 
        $('h1, h2, p').css('color','pink')
        // 속성 셀렉터 
        // 입력창의 배경색을 lightgreen 
        $('[name=uid]').css('background','lightgreen ')
        // 의사결정셀렉터 -> 테이블, 리스트, 동적 리스트 구성시 사용 
        // 아이디가 data인 요소의 직계자식 tbody의 직계자식들 중 모든 tr 
        $('#data>tbody>tr').css('background','yellow')
        // 첫번째 tr의 배경색을 green 
        $('#data>tbody>tr:first').css('background','green')
        /// ': -> 의사결정'
        // * 막내 - 가장 마지막에 추가된 요소 
        // eq,gt,lt : 0부터 시작 / 나머지는 1부터 시작 
        $('#data>tbody>tr:last').css('background','red')
        // 홀수
        $('#data>tbody>tr:odd').css('background','white')
        // 짝수
        $('#data>tbody>tr:even').css('background','gray')
        // 3번 위치 지정 
        $('#data>tbody>tr:eq(3)').css('background','black')
        // 기준 위치 하위로 전부
        $('#data>tbody>tr:gt(3)').css('background','red')
        // 기준 위치 위로 전부
        $('#data>tbody>tr:lt(3').css('background','blue') 
        // 특정 위치
        $('#data>tbody>tr:nth-child(1)').css('background','yellow')
        // 요소찾기
        // html 4까지 사용 - 오피셜은 보통 이걸로 줌 
        document.getElementsByTagName('h1')
        document.getElementById('data')
        // html 5에서 추가  
        document.querySelector('h1')
        document.querySelector('#data')
        // jQuery
        $('h1')
        $('data')
    </script>
    <script>
        // h1을 찾아서, 
        // $('css selector') : 요소를 찾는 방법 
        // 이 문서 상에 존재하는 모든 h1 => 리스트, 배열... 
        $('h1').css('color','red')
        // h1을 찾아서, 빨강색으로 처리(DOM 조작 -> css조작)
        // 색변경 버튼을 누르면, h1의 하위 글자 색이 파랑색으로 바뀐다
        $('button').on('click', ()=>{
            $('h1').css('color','blue')
        } ) /// on( '' ) 버튼 붙이는 함수
        // 아이디가 blackBtn인 요소를 찾아서(단수,id값은 고유하다/ 예외-유투브)
        // 이벤트를 등록 
        $('#blackBtn').on('click', ()=>{
            $('h1').css('color','black')
        } )  
    </script>
    <script>
        // jQuery : javascript framework의 가장 전통적인 제품 
        // 손쉽게 js를 사용할 수 있어서 생산성을 극대화 
        // 대부부의 js들이 jQuery를 기반으로 구현되었다 
        // 미션1 : 색변경 버튼을 누르면, h1의 글자색을 빨강색으로 처리하시오
        //        js로 해결하시오 
        // jQuery로 처리하는 기본적인 작업 ------------------- 
        // 1. 요소(element)를 찾는다
        //  $('css selector'), $(this), $(documnet)
        // 2. 그 요소에 이벤트를 준다 or 요소를 조작한다 
        // or 
        // 3. 기타 통신 처리(ajax)
    </script>
</body>
</html>